<div class="row">
  <div class="twelve columns">
    <h2><a href="{% url "posts", post %}">{{ post.title }}</a></h2>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <div class="meta">
      <b>{{ post.date|date("%a %d %b %Y") }}</b>
      &nbsp;
      <i class="fa fa-tags"></i> {% include "partials/post-tags.html.jinja2" %}
    </div>
  </div>
</div>

<div class="partial-post">
  {% if post.summary %}
    {{ post.summary }}
  {% else %}
    {{ post.content|safe|striptags|truncate(600) }}
  {% endif %}
</div>
<a class="read-more" href="{% url "posts", post %}">
  <i class="fa fa-book"></i>
  Read more
</a>
