/*
 * Styling for https://thanethomson.com/
 */
@import "fonts.css";
body {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #333;
  font-size: 1.8em;
}

code {
  border: none;
  background: none;
  padding: 0px;
}

nav.primary {
  font-family: "RobotoSlab", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: -0.05em;
  width: 100%;
  height: 30px;
  min-height: 30px;
}
nav.primary a, nav.primary a:hover, nav.primary a:active, nav.primary a:visited, nav.primary a:focus {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}
nav.primary a:hover {
  color: #4093bb;
}
nav.primary .brand {
  color: #333;
  display: none;
}
nav.primary .menu-collapse {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
}
nav.primary .menu {
  position: fixed;
  top: -300px;
  right: 0;
  left: 0;
  background-color: #eee;
  border-bottom: 1px solid #333;
  overflow: hidden;
  padding: 15px;
  z-index: 99;
  opacity: 0.95;
  -webkit-transition: top 0.5s ease-in-out;
  -moz-transition: top 0.5s ease-in-out;
  -o-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
}
nav.primary .menu ul {
  list-style-type: none;
  padding: 5px 10px 10px 5px;
  margin: 0;
}
nav.primary .menu ul li {
  font-size: 1.3em;
}
nav.primary .menu ul li.social-icons {
  font-size: 1.8em;
}

nav.toc {
  display: none;
}

footer {
  padding: 50px 0 50px 0;
  text-align: center;
  font-size: 0.8em;
  /*a {
    color: $color-link;
    font-weight: bold;
    text-decoration: none;
    border: 0;
  }
  a:hover {
    color: $color-link-hover;
    border-bottom: 1px dotted $color-link;
  }*/
}
footer a {
  border: 0;
  text-decoration: none;
}
footer a img {
  border: 0;
  opacity: 0.5;
}
footer a:hover img {
  opacity: 1;
}

nav.primary.open .menu {
  top: 0;
}

.centered {
  text-align: center;
}

.img1 img {
  width: auto;
  height: 350px;
  max-height: 350px;
  margin-bottom: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
}

.img2 {
  width: auto;
  height: 350px;
  min-height: 350px;
}
.img2 img {
  width: auto;
  margin-bottom: 10px;
  max-height: 350px;
}

.video-embed {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;
}
.video-embed iframe, .video-embed object, .video-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.body {
  padding-top: 30px;
}
div.body a {
  color: #4093bb;
  font-weight: bold;
  text-decoration: none;
  border: 0;
}
div.body a:hover {
  color: #4093bb;
  border-bottom: 1px dotted #4093bb;
}
div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
  font-family: "RobotoSlab", Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding-top: 60px;
}
div.body h1 a, div.body h1 a:hover, div.body h1 a:visited, div.body h1 a:active, div.body h2 a, div.body h2 a:hover, div.body h2 a:visited, div.body h2 a:active, div.body h3 a, div.body h3 a:hover, div.body h3 a:visited, div.body h3 a:active, div.body h4 a, div.body h4 a:hover, div.body h4 a:visited, div.body h4 a:active, div.body h5 a, div.body h5 a:hover, div.body h5 a:visited, div.body h5 a:active, div.body h6 a, div.body h6 a:hover, div.body h6 a:visited, div.body h6 a:active {
  color: #333;
  text-decoration: none;
  border: 0;
}
div.body h1 a:hover, div.body h2 a:hover, div.body h3 a:hover, div.body h4 a:hover, div.body h5 a:hover, div.body h6 a:hover {
  color: #4093bb;
}
div.body h1 a.permalink, div.body h1 a.permalink:visited, div.body h1 a.permalink:active, div.body h2 a.permalink, div.body h2 a.permalink:visited, div.body h2 a.permalink:active, div.body h3 a.permalink, div.body h3 a.permalink:visited, div.body h3 a.permalink:active, div.body h4 a.permalink, div.body h4 a.permalink:visited, div.body h4 a.permalink:active, div.body h5 a.permalink, div.body h5 a.permalink:visited, div.body h5 a.permalink:active, div.body h6 a.permalink, div.body h6 a.permalink:visited, div.body h6 a.permalink:active {
  vertical-align: top;
  padding-left: 10px;
  color: #ddd;
  font-size: 80%;
}
div.body h1 a.permalink:hover, div.body h2 a.permalink:hover, div.body h3 a.permalink:hover, div.body h4 a.permalink:hover, div.body h5 a.permalink:hover, div.body h6 a.permalink:hover {
  color: #4093bb;
}
div.body h4, div.body h5, div.body h6 {
  font-weight: bold;
}
div.body h4 a, div.body h4 a:hover, div.body h4 a:visited, div.body h4 a:active, div.body h5 a, div.body h5 a:hover, div.body h5 a:visited, div.body h5 a:active, div.body h6 a, div.body h6 a:hover, div.body h6 a:visited, div.body h6 a:active {
  font-weight: bold;
}
div.body .full-post {
  padding-top: 30px;
}
div.body .partial-post {
  margin-top: 10px;
  margin-bottom: 20px;
}
div.body .paging {
  text-align: center;
}
div.body .paging .page-link {
  display: inline-block;
  padding: 0 15px 0 15px;
}
div.body img {
  max-width: 100%;
  height: auto;
}
div.body ol, div.body ul {
  margin-left: 40px;
}
div.body li {
  list-style-position: outside;
}
div.body a.read-more, div.body a.read-more:hover, div.body a.read-more:visited, div.body a.read-more:active {
  color: #333;
  text-decoration: none;
  border: 0;
}
div.body a.read-more:hover {
  color: #4093bb;
}
div.body div.row.spacer {
  margin-bottom: 20px;
}
div.body .about-avatar {
  text-align: center;
}
div.body .about-avatar img {
  margin-top: 50px;
  width: 192px;
  height: auto;
}
div.body div.comments {
  padding-bottom: 100px;
}
div.body .page-count {
  font-weight: bold;
}

blockquote {
  margin: 0 0 30px 0;
  padding: 25px;
  background-color: #ddd;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  font-style: italic;
}
blockquote p {
  margin: 0;
}

.img-caption {
  font-size: 80%;
  margin-bottom: 40px;
}

/*
 * Styles for Desktop
 */
@media (min-width: 960px) {
  .container {
    width: 800px;
  }

  body {
    font-size: 2em;
  }

  nav.primary {
    position: static;
    margin: 20px 0 0 0;
    padding: 15px 0 20px 0;
    border-bottom: 1px solid #333;
    font-size: 1.5em;
  }
  nav.primary .brand {
    display: inline-block;
  }
  nav.primary .menu-collapse {
    display: none;
  }
  nav.primary .menu {
    position: static;
    float: right;
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
    top: 0;
    left: 0;
    font-size: 0.8em;
  }
  nav.primary .menu ul {
    padding: 0;
  }
  nav.primary .menu ul li {
    display: inline-block;
    font-size: 1.1em;
    margin-left: 5px;
  }
  nav.primary .menu ul li.social-icons {
    font-size: 1.3em;
  }

  div.body {
    padding-top: 0;
  }
  div.body ul li {
    list-style: disc;
  }
  div.body .about-avatar img {
    margin: 0;
    width: 256px;
    height: auto;
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    /* Firefox 10+, Firefox on Android */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  }
  div.body .about-avatar img:hover {
    filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
    -webkit-filter: grayscale(0%);
  }
}
/*
 * Large desktop displays.
 */
@media (min-width: 1340px) {
  nav.toc {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 260px;
    padding: 160px 30px 100px 30px;
    -webkit-transition: padding 1s;
    -moz-transition: padding 1s;
    -o-transition: padding 1s;
    transition: padding 1s;
  }
  nav.toc div.heading {
    font-family: "RobotoSlab", Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: -0.05em;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 3px;
  }
  nav.toc ul {
    margin: 0;
    padding: 0;
  }
  nav.toc ul li {
    list-style: none;
    line-height: 90%;
    padding: 0;
  }
  nav.toc ul li a {
    padding: 5px 7px 5px 1.5em;
    margin: 0;
    text-indent: -1em;
    font-size: 15px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    display: inline-block;
  }
  nav.toc ul li a:hover {
    border: 0;
    color: #2c5d8b;
  }
  nav.toc ul li.active a, nav.toc ul li.active a:hover {
    background-color: #dae8f9;
  }
  nav.toc ul li.l3 {
    margin-left: 20px;
  }

  nav.toc.hidden {
    display: none;
  }
}
table {
  width: 100%;
}

.footnote {
  font-size: 80%;
}

/*# sourceMappingURL=blog.css.map */
