{% extends "base.html.jinja2" %}

{% block title %}About Thane Thomson{% endblock %}

{% block body %}
  <div class="row">
    <div class="twelve columns">
      <h1>About</h1>
    </div>
  </div>

  <div class="row">
    <div class="eight columns">
      <p>
        My name's Thane Thomson. I really enjoy making useful things for
        people, and I enjoy writing too. People fascinate me, but I also love
        getting my teeth into a good technical problem.
      </p>
      <p>
        So far, since studying electronic engineering at the
        <a href="http://www.up.ac.za">University of Pretoria</a> in
        South Africa, I've run a company with a friend, worked in the digital
        media industry, and in research and development in the field of the
        <a href="https://en.wikipedia.org/wiki/Internet_of_things">Internet
          of Things</a>.
        I completed my MBA through <a href="https://www.gibs.co.za/">GIBS</a>
        in 2011, where I specialised in studying entrepreneurship from a
        <a href="https://en.wikipedia.org/wiki/Complex_systems">complexity
          theory</a> perspective. My thesis was entitled
        <a href="http://hdl.handle.net/2263/27057">Nascent Strategic
          Entrepreneuring as a Complex Responsive Process</a>.
      </p>
      <p>
        At the moment, I'm working for <a href="https://dstvdm.dstv.com/">DStv
          Digital Media</a> in research and development.
      </p>
      <p>
        Technically, I've had experience in a variety of different programming
        languages, such as <b>C/C++</b>, <b>Python</b>, <b>Java</b>,
        <b>PHP</b>, <b>HTML5</b> and <b>Go</b>. Framework-wise, I've had quite
        a bit of experience in building systems using
        <a href="https://www.djangoproject.com/">Django</a> and
        <a href="https://spring.io">Spring Boot</a>.
      </p>
    </div>
    <div class="four columns about-avatar">
      <img src="{% asset "blog/images/avatar.png" %}" />
    </div>
  </div>
{% endblock %}
