{% extends "base.html" %}

{% block title %}Page Not Found{% endblock %}

{% block body %}
    <div class="row">
        <div class="twelve columns">
            <h1>Page Not Found</h1>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            I'm sorry, the page you're looking for does not exist. If the page should actually exist,
            please contact me and I'll look into this.
        </div>
    </div>

    <div class="row">
        <div class="twelve columns">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            &nbsp;
        </div>
    </div>
{% endblock %}
