{% extends "base.html.jinja2" %}

{% block title %}{{ post.title }} - Thane Thomson{% endblock %}

{% block body %}
    {% include "partials/fullpost.html.jinja2" %}
    {% if post.show_toc %}
        {% include "partials/toc.html.jinja2" %}
    {% endif %}
{% endblock %}

{% block comments %}
    {% include "partials/disqus.html.jinja2" %}
{% endblock %}
